body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e2e8f0;
}

h4{
  margin-top: 10px;
}

.btn-search {
    padding: 0.3em;
}

.admin-blogs a{
    text-decoration: none;
    color: black;
}

.text-right {
    text-align: right;
}

.margin-extra {
  position: relative;
  margin-top: 4em;
  text-align: center;
}

#searchbox{
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.main {
    text-align: center;
    align-items: center;
    position: relative;
}

.main > nav {
  position: relative;
  top: 1.5em;
}


.form-group {
    margin: 1em auto;
    
}

.form-group {
    width: 16em;
}
.footer-text{
    color: black;
}
.footer{
    text-align: center;
    height: 30px;
    margin-top: 5em;
}


nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}
#searchbox{
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.search-field {
    display: inline;
}

.scroll {
  overflow: hidden;
  height: 100vh;
}

.scroll:hover {
  overflow: auto;
  scrollbar-width: 0.1em;
  height: 100vh;
  
}


#comments, #comments li {
    margin: 0;
    padding: 0;
}

#comments li {
    list-style: none;
    background-color: #d1dae2;
}
        
.photo {
	margin-bottom: 10px;
}


.social-buttons button {
	margin-top: 5px;
}

#left {
    border-right: 2px solid rgb(144, 175, 144);
}
.btn-post {
    width: 10em;
}
.search-text {
    width: 25em;
    display: inline;
}
.card {
    margin-bottom: 0.5em;
    box-shadow: 2px 2px 2px rgb(144, 175, 144);
    border-radius: 10px;
    background-color: #ffffff;
}

.front-page {
  display: inline;
  margin: 1em;
}

.card:hover {
    transform: scale(1.03);
}
.delete-blog {
    position:absolute;
    top:0;
    right:0;
}

.delete-blog:hover {
    transform: scale(1.2);
}

.admin-edit {
    color: blue !important;
    position: absolute;
    top: 8px;
    left: 8px;

}

.admin-edit:hover {
    color: red !important;
    transform: scale(1.2);
}

.green {
    color: green;
}

.btn-delete {
    border-radius: 10px;
    border: none;
}

.carousel-item{
  height: 32rem;
  
}
h5{
  color: black;
}

.carousel-img {
  filter: brightness(30%);
}

.carousel-caption {
  top: 30%;
}

.carousel-caption h1 {
  color: rgb(105, 9, 9);
}

.carousel-caption h3 {
  color: rgb(43, 223, 43);
}

.blogs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  opacity: 1;
  padding: 10px;
  margin-top: -5em;
}


.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.main-blog {
  box-shadow: 2px 2px 2px 2px;
  border-radius: 5px;
  padding: 1em;
}

.main-blog > a {
  text-decoration: none;
  color: green;
  text-align: center;
}

.blog-info {
  color: rgb(90, 90, 143);
}

.like {
  transform: scale(1.5);
  padding-right: 0.5em;
}

.blog-text {
  color: rgb(158, 58, 58);
}

.recent-posts, .recent-comments, .comments{
  box-shadow: 1px 1px 1px 1px;
  border-radius: 5px;
  padding: 0.1em;
  margin: 0.8em;
}

.recent-posts a {
  text-decoration: none;
  color: red
}

.recent-posts a:hover {
  color: blue;
}

.blog-edit {
  margin-right: 1em;
  transform: scale(1.5);
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-upload {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

@media (min-width: 768px) and (max-width: 1280px){
    .blogs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        background-color: #d1dae2;
        padding: 10px;
      }

}

@media (min-width: 0px) and (max-width: 768px){
    .blogs {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        background-color: #d1dae2;
        padding: 10px;
      }

}
.card-text {
  overflow: hidden;
  height: 4em;
}

.card-text-img {
  height: 16em;
}

.front-page img {
  height: 12em;
}

.admin-card {
    height: 3em;
}

.text-center {
    margin: 0.5em auto;
}

.admin-blogs {
    overflow-y: overflow;
    height: 100vh;
    width: 100%;
}

.admin-main-card {
    width: 98%;
    margin-bottom: 0.5em;
}
