{% extends "base.html" %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 p-4" id="left">
            <h2>New Blog</h2>
            <hr>
            <div>
                {% if message %}
                    <p style="color: red">{{ message }}</p>
                {% endif %}
                <form action="/admin" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="title" placeholder="Blog Title" name="title" />
                      </div>
                      <div class="mb-3">
                        <input type="text" class="form-control" id="name" placeholder="Your Name" name="name" />
                      </div>
                      <div class="mb-3">
                        <input type="file" class="form-control" id="myFile" name="filename" >
                      </div>
                      <div class="mb-3">
                        <textarea class="form-control" id="content" rows="20" name="content" placeholder="Write..."></textarea>
                      </div>
                      <div class="mb-3 text-center">
                        <input type="submit" class="btn btn-success btn-post" value="Post" />
                      </div>
                </form>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 p-4">
            <h2>All Blogs</h2>
            <hr>
            {% if blogs %}
            <div class="admin-blogs">
            {% for blog in blogs %}
                <a href="/blog/{{ blog["blog_id"] }}">
                <div class="card admin-main-card">
                    <div class="card-header pb-0">
                        <h5 class="card-title green">{{ blog["title"] }}</h5>
                        <p class="text-right">Posted By: {{ blog["name"] }} on {{ blog["date"] }}</p>
                        <form action="/delete-blog" method="post" class="delete-blog" onsubmit="return deleteSure()">
                            <input type="hidden" value="{{ blog["blog_id"] }}" name="blog" />
                            <input type="submit" class="btn-delete" value="X"/>
                        </form>
                    </div>
                    <div class="card-body">
                      <p class="card-text admin-card">{{ blog["content"] }}</p>
                    </div>
                </div>   
                </a>                     
            {% endfor %}
            </div>

            {% else %}
            <h2>Empty, You should write something!</h2>
            {% endif %}
        </div>      
    </div>
</div>
{% endblock %}
