{% extends "base.html" %}
{% block main %}

{% if blog %}

    <div class="container p-3 pt-5">
        <div class="row">
            <div class="col-md-8">
                <article class="main-blog">
                    <a href="#"><h1 class="pt-3 pb-0">{{blog["title"]}}</h1></a>
                    <div class="blog-info pt-1 text-right">
                        <p>
                            {% if session.user_id %}
                                <a class="blog-edit" href="/edit/{{ blog["blog_id"]}}"><i class="fa fa-edit"></i></a>
                            {% endif %}
                            <i onclick="myFunction(this)" class="fa fa-thumbs-up like"></i>
                            By: {{ blog[ "name"] }} posted on {{ blog["date"]}}
                        </p>
                    </div>

                         

                      <hr>

                      <img src="../static/images/{{blog['img']}}" class="img-responsive">

                      <br />

                      <p class="blog-text">{{ blog["content"]}}</p>

                      <hr>
                </article>				

                <ul class="pager mt-3">
                    <li class="previous"><a href="/">&larr; Back to posts</a></li>
                </ul>	

                <!-- Comment form -->
                <div class="comment-form">
                    <h4>Leave a comment</h4>
                    <form role="form" class="clearfix">
                      <div class="col-md-8 form-group">
                        <input autocomplete="off" type="text" class="form-control" id="name" placeholder="Name">
                      </div>
                      <div class="col-md-12 form-group">
                        <textarea class="form-control" id="comment" placeholder="Comment"></textarea>
                      </div>
                      <div class="col-md-12 form-group text-right">
                          <button type="submit" class="btn btn-primary">Comment</button>
                      </div>
                    </form>					
                </div>

                <hr />
                {% else %}
                Nothing to show
                {% endif %}
                <div class="comments">
                    <div class="panel-heading">
                        <h3>Comments</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h5 class="p-0 m-0 greem">John</h5>
                            <p class="p-0 m-0 text-right">12-12-2020</p>
                            <hr>
                            <p>I don't believe in astrology but still your writing style is really great!</p>
                        </ul>
                        <li class="list-group-item">
                            <h5 class="p-0 m-0 green">John</h5>
                            <p class="p-0 m-0 text-right">12-12-2020</p>
                            <hr>
                            <p>I don't believe in astrology but still your writing style is really great!</p>
                        </ul>
                        <li class="list-group-item">
                            <h5 class="p-0 m-0 green">John</h5>
                            <p class="p-0 m-0 text-right">12-12-2020</p>
                            <hr>
                            <p>I don't believe in astrology but still your writing style is really great!</p>
                        </ul>
                    </ul>
                </div>
                
            </div>
            <div class="col-md-4">

       
                <div class="recent-posts">
                    <div class="panel-heading">
                        <h4>Latest Posts</h4>
                    </div>
                    <ul class="list-group">
                        {% for blog in recent_blogs %}
                        <li class="list-group-item"><a href="/blog/{{ blog["blog_id"] }}">{{ blog["title"] }}</a></li>
                        {% endfor %}
                    </ul>
                </div>


                <div class="recent-comments">
                    <div class="panel-heading">
                        <h4>Recent Comments</h4>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">I don't believe in astrology but still your writing style is really great! - <em>john</em></li>
                        <li class="list-group-item">Wow.. what you said is really true! I'm an aries though - <em>Anto</em></li>
                        <li class="list-group-item">Does capricorn and aries is compatibile? - <em>Sarah</em></li>
                        <li class="list-group-item">I'm a cancer woman been in love with Leo. Will this work? - <em>Mary</em></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}