{% extends "base.html" %}
{% block main %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% if blog %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <article>
                    <h1><a href="#">{{blog["title"]}}</a></h1>

                    <div class="row">

                        <div class="col-sm-6 col-md-6">
                            <span class="glyphicon glyphicon-pencil"></span> <a href="#">{{blog['name']}}</a>
                            </div>
                          <div class="col-sm-6 col-md-6">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-time"></span> {{blog["date"]}}
                            &nbsp;&nbsp;<span><i onclick="myFunction(this)" class="fa fa-thumbs-up"></i></span>
                          </div>
                          <div class="col-sm-6 col-md-6">		          		
                                		          		
                          </div>
                      </div>

                      <hr>

                      <img src="../static/images/{{blog['img']}}" class="img-responsive">

                      <br />

                      <p class="lead">{{ blog["content"]}}</p>

                      <hr>
                </article>				

                <ul class="pager">
                    <li class="previous"><a href="/">&larr; Back to posts</a></li>
                </ul>	

                <!-- Comment form -->
                <div class="well">
                    <h4>Leave a comment</h4>
                    <form role="form" class="clearfix">
                      <div class="col-md-6 form-group">
                        <label class="sr-only" for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Name">
                      </div>
                      <div class="col-md-6 form-group">
                        <label class="sr-only" for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                      </div>
                      <div class="col-md-12 form-group">
                        <label class="sr-only" for="email">Comment</label>
                        <textarea class="form-control" id="comment" placeholder="Comment"></textarea>
                      </div>
                      <div class="col-md-12 form-group text-right">
                          <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </form>					
                </div>

                <hr />
                {% else %}
                Nothing to show
                {% endif %}
                <ul id="comments" class="comments">
                    <li class="comment">
                        <div class="clearfix">
                            <h4 class="pull-left">John</h4>
                            <p class="pull-right">9:41 PM on August 24, 2013</p>
                        </div>
                        <p>
                            <em>I don't believe in astrology but still your writing style is really great!</em>
                        </p>
                    </li>

                    <li class="comment clearfix">
                        <div class="clearfix">
                            <h4 class="pull-left">John</h4>
                            <p class="pull-right">9:41 PM on August 24, 2013</p>
                        </div>
                        <p>
                            <em>I don't believe in astrology but still your writing style is really great!</em>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">

       
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Latest Posts</h4>
                    </div>
                    <ul class="list-group">
                        {% for blog in recent_blogs %}
                        <li class="list-group-item"><a href="/blog/{{ blog["blog_id"] }}">{{ blog["title"] }}</a></li>
                        {% endfor %}
                    </ul>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Recent Comments</h4>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#">I don't believe in astrology but still your writing style is really great! - <em>john</em></a></li>
                        <li class="list-group-item"><a href="#">Wow.. what you said is really true! I'm an aries though - <em>Anto</em></a></li>
                        <li class="list-group-item"><a href="#">Does capricorn and aries is compatibile? - <em>Sarah</em></a></li>
                        <li class="list-group-item"><a href="#">I'm a cancer woman been in love with Leo. Will this work? - <em>Mary</em></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    {% endblock %}