{% extends "base.html" %}
{% block main %}

{% if blog %}

    <div class="container p-3 pt-5">
        <div class="row">
            <div class="col-md-8">
                <article class="main-blog">
                    <a href="#"><h1 class="pt-3 pb-0">{{blog["title"]}}</h1></a>
                    <div class="blog-info pt-1 text-right">
                        <p>
                            {% if session.user_id %}
                                <a class="blog-edit" href="/edit/{{ blog["blog_id"]}}"><i class="fa fa-edit"></i></a>
                            {% endif %}
                            <i onclick="myFunction(this)" class="fa fa-thumbs-up like"></i>
                            By: {{ blog[ "name"] }} posted on {{ blog["date"]}}
                        </p>
                    </div>
                      <hr>  
                      <div>
                        {% if blog["img"] != "NULL" %}
                            <img src="../static/images/{{ blog['img'] }}" class="img-responsive">
                        {% endif %}
                        {% if session.user_id %}
                            <form action="/change-image" id="changeImage" method="post" enctype="multipart/form-data">
                                <input type="hidden" value="{{ blog["img"] }}" name="old-img" />
                                <input type="hidden" value="{{ blog["blog_id"] }}" name="blog_id" />
                                <div class="upload-btn-wrapper mt-2">
                                    <input type="file" name="filename" onchange="uploadImage()" />
                                    {% if blog["img"] == "NULL" %}
                                        <button class="btn-upload">Upload Image</button>
                                    {% else %}
                                        <button class="btn-upload">Edit Image</button>
                                    {% endif %}
                                </div>
                            </form>
                        {% endif %}
                        </div>
                        <hr>
                      <p class="blog-text">{{ blog["content"]}}</p>
                      <hr>
                </article>				

                <ul class="pager mt-3">
                    <li class="previous"><a href="/">&larr; Back to posts</a></li>
                </ul>	

                <!-- Comment form -->
                <div class="comment-form">
                    <h4>Leave a comment</h4>
                    <form role="form" action="/comment" method="post">
                      <div class="col-md-8 form-group">
                        <input autocomplete="off" type="text" class="form-control" id="name" name="name" placeholder="Name">
                      </div>
                      <div class="col-md-12 form-group">
                        <textarea class="form-control" id="comment" name="comment"" placeholder="Comment"></textarea>
                      </div>
                      <input type="hidden" name="blog_id" value="{{ blog["blog_id"] }}" /> 
                      <div class="col-md-12 form-group text-right">
                          <button type="submit" class="btn btn-primary">Comment</button>
                      </div>
                    </form>					
                </div>

                <hr />
                {% else %}
                Nothing to show
                {% endif %}
                <div class="comments">
                    <div class="panel-heading">
                        <h3 class="green">Comments</h3>
                    </div>
                    <hr>
                    {% if comments %}
                    <div class="scroll">
                        {% for comment in comments%}
                            <ul class="list-group">
                                <li class="list-group-item m-1">
                                    {% if session.user_id %}
                                    <form action="/delete-comment" method="post" class="delete-blog" onsubmit="return deleteSure()">
                                        <input type="hidden" value="{{ comment["id"] }}"" name="comment_id" />
                                        <input type="hidden" value="{{ blog["blog_id"] }}" name="blog_id" />
                                        <button type="submit" class="btn-delete"><i class="fa fa-trash"></i></button>
                                    </form>
                                    {% endif %}
                                    <h5 class="p-0 m-0 greem">{{ comment["name"] }}</h5>
                                    <p class="p-0 m-0 text-right">Posted on: {{ comment["date"] }}</p>
                                    <hr>
                                    <p>{{ comment["comment"] }}</p>
                                </ul>
                            </ul>
                        {% endfor %}
                    </div>
                    {% else %}
                            <h2 class="list-group-item">No Comments</h2>
                    {% endif %}
                </div>
                
            </div>
            <div class="col-md-4">

       
                <div class="recent-posts">
                    <div class="panel-heading">
                        <h4>Latest Posts</h4>
                    </div>
                    <ul class="list-group">
                        {% for blog in recent_blogs %}
                        <li class="list-group-item"><a href="/blog/{{ blog["blog_id"] }}">{{ blog["title"] }}</a></li>
                        {% endfor %}
                    </ul>
                </div>


                <div class="recent-comments">
                    <div class="panel-heading">
                        <h4>Recent Comments</h4>
                    </div>
                    <ul class="list-group">
                        {% if comments %}
                            {% for i in range(comments_count) %}
                                <li class="list-group-item">
                                    {% if session.user_id %}
                                    <form action="/delete-comment" method="post" class="delete-blog" onsubmit="return deleteSure()">
                                        <input type="hidden" value="{{ comments[i]["id"] }}" name="comment_id" />
                                        <input type="hidden" value="{{ blog["blog_id"] }}" name="blog_id" />
                                        <button type="submit" class="btn-delete"><i class="fa fa-trash"></i></button>
                                    </form>
                                    {% endif %}
                                    {{ comments[i]["comment"] }}- <em>{{ comments[i]["name"] }}</em>
                                </li>
                            {% endfor %}
                        {% else %}
                            <h2 class="list-group-item">No Comments</h2>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}