
{% extends "base.html" %}
{% block main %}
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-inner">

      <div class="carousel-item active">
        <img src="../static/obi-onyeador-UEQvUtRs224-unsplash.jpg" class="carousel-img d-block w-100" alt="...">
        <div class="carousel-caption>
            <h1>OurBlog</h1>
            <h3>A Website with Flask and Postgres</h3>
          </div>
      </div>
      <div class="carousel-item">
        <img src="../static/roman-kraft-_Zua2hyvTBk-unsplash.jpg" class="carousel-img d-block w-100" alt="...">
        <div class="carousel-caption">
            <h1>Features:</h1>
            <h3>Read, (Write, Edit, Delete) with Admin Access Blogs and Comments</h3>
          </div>
      </div>
    </div>
  </div>
  <div class="row g-3">   
  </div>
    {% if blogs %}
      <div class="container">
      <div class="blogs">
        {% for i in blogs %}
              {% if i["img"] != "NULL" %}
                <div class="card front-page" style="padding: 20px; ">
                    <img src="../static/images/{{i['img']}}" class="card-img-top" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{ i["title"] }}</h5>
                      <p class="card-title">By: {{ i["name"] }} on {{ i["date"]}} </p>
                      <hr>
                      <p class="card-text">{{i["content"]}}</p>
                      <a href="/blog/{{ i["blog_id"] }}" class="btn btn-primary">Read Full Blog</a>
                    </div>
                </div>
              {% else %}
                <div class="card front-page" style="padding: 20px; ">
                  <div class="card-body">
                    <h5 class="card-title">{{ i["title"] }}</h5>
                    <p class="card-title">By: {{ i["name"] }} on {{ i["date"]}} </p>
                    <hr>
                    <p class="card-text card-text-img">{{i["content"]}}</p>
                    <a href="/blog/{{ i["blog_id"] }}" class="btn btn-primary">Read Full Blog</a>
                  </div>
                </div>
              {% endif %}
      {% endfor %}
      </div>
    </div>
    {% else %}
    <h1 class="mt-5">Wow! Such empty</h1>
    {% endif %}
{% endblock %}

